.lead {
    max-width: 984px;
    background-color: #2A2C2F;
    margin: 56px auto 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        margin: 48px 0 8px 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        margin: 48px 0 8px 0;
    }
}