.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  max-width: 1184px;
  height: 740px;
  margin: auto;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 660px) {
  .cover {
    max-width: 660px;
    height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
  }
}